.about-us-text {
    max-width: 600px;
    margin: 0 auto 80px auto;
    /*margin-bottom: 80px;*/
    text-align: center;
}

.about-us-cards {
    display: flex;
    gap: 50px;
    margin-bottom: 70px;
}

.about-us-card {
    padding: 60px 30px 30px 30px;
    background-color: var(--light-grey);
    box-shadow: var(--box-shadow-main);
    border-radius: var(--border-radius-primary);
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.about-us-card::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--primary-accent-color);
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 0px;
    transform: translate(-50%, -50%);
}

.about-us-card:nth-child(1)::before {
    content: "1";
}
.about-us-card:nth-child(2)::before {
    content: "2";
}
.about-us-card:nth-child(3)::before {
    content: "3";
}
.about-us-card:nth-child(4)::before {
    content: "4";
}

.about-us-values-container {
    background-color: var(--light-grey);
}

@media (max-width: 800px) {
    .about-us-cards {
        flex-direction: column;
        gap: 70px;
    }
}