.header--container {
	background-color: var(--primary-section-background-color);
	padding: 30px 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.04) 0px 2px 4px -1px;
}

.header--main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1400px;
}

.header--main img {
	height: 45px;
}

.header--main-navigation {
	display: flex;
	column-gap: 60px;
}

.header--main-navigation li {
	font-size: 1.1rem;
}

.header--main-navigation-contact {
	padding: 10px 25px;
	background-color: var(--main-blue);
	border-radius: 0.75rem;
	font-size: 1.2rem;
	color: #f4f4f4;
}
