:root {
    --primary-accent-color: #d20d0d;
    --secondary-accent-color: #d55050;
    --tertiary-accent-color: #d36e6e;
    --tertiary-accent-color-opacity: rgba(211, 110, 110, 0.8);

    --primary-background-color: #fff;
    --secondary-background-color: #f8f8f8;

    --primary-text-color: #404040;
    --secondary-text-color: #656565;
    --tertiary-text-color: #a1a1a1;
    --white: white;
    --black: black;

    --dark-grey: #7e7e7e;
    --medium-grey: #d2d2d2;
    --light-grey: #f4f5f6;

    --border-radius-primary: 0.75rem;
    --border-radius-secondary: 0.5rem;
    --box-shadow-main: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.04) 0px 2px 4px -1px, rgba(0, 0, 0, 0.08) 0px -5px 20px 2px;
    background-color: var(--primary-background-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--primary-text-color);
}

section .section-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 110px 20px;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

a {
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 25px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 25px;
}

p, a, li {
    font-weight: 300;
    font-size: 1.15rem;
    line-height: 1.3;
}

p .bold {
    font-weight: 800;
}

.btn-primary, .btn-secondary {
    padding: 12px 30px;
    border-radius: var(--border-radius-secondary);
    font-size: 1.2rem;
    font-weight: 700;
}

.btn-primary {
    background: var(--primary-accent-color);
    color: var(--white);
}

.btn-secondary {
    background: var(--white);
    color: var(--primary-text-color);
}

.btn-tertiary {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-accent-color);
}

button {
    cursor: pointer;
}

@media (max-width: 700px) {
    section .section-inner {
        padding: 70px 20px;
    }

    .btn-primary {
        padding: 8px 15px;
        font-size: 1.1rem;
        font-weight: 500;
    }
}


